@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
:root {
  /* Backgrounds */
  --background: #F4FBF8;
  --secondary-background: #ECFDF5;

  /* Cards */
  --card: #FFFFFF;

  /* Brand Colors */
  --primary: #0F766E;
  --emerald: #22C55E;
  --aqua: #14B8A6;

  /* Accent */
  --purple: #8B5CF6;
  --navy: #1E3A8A;

  /* Text */
  --text-primary: #134E4A;
  --text-secondary: #4B5563;

  /* Status */
  --pending: #F59E0B;
  --progress: #3B82F6;
  --resolved: #22C55E;

  /* Border */
  --border: #D1FAE5;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}